body {
    background-image: url("https://eskipaper.com/images/beautiful-cloud-background-1.jpg");
  }

  .topnav {
        overflow: hidden;
  }

  .topnav a {
    float: left;
    color: #494242;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;